.hero {
    height: 100%;
    width: 100%;
}

.hero .content {
    position: absolute;
    transform: -50%, -50%;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.5rem 0 1.5rem;
}

.hero .content p {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.content .btn {
    margin: 1rem 0.2rem;
}

@media screen and (max-width:640px) {
    .hero .content h1 {
        font-size: 3rem;
    }
    
    .hero .content p {
        font-size: 1.4rem;
    }
}