@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #fff;
}

h1, h4, p, a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-family: 1rem;
  text-transform: uppercase;
  background: pink;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: black;
}

.btn:hover {
  background: rgba(133, 20, 20, 0);
  color: pink;
  transition: 0.3s;
}